.checklistContiner {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1040;
	height: 810px;
	background-position: right;
	// background-color: #1a1b26;
	background-color: rgba($color: black, $alpha: 0);
	background-size: 80%;
	background-repeat: no-repeat;
}
