@font-face {
    font-family: "OCRB";
    src: url("/Fonts/OcrB2.ttf") format("truetype");
}
@font-face {
    font-family: 'NewHUDAlert';
    src: url('/Fonts/NewHUDAlert.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Degrees";
    src: url("/Fonts/mono.ttf") format("truetype");
}
text {
    font-family: "OCRB";
    fill: #00cc00;
}

.textAlert {
    font-family: "NewHUDAlert";
    fill: #00cc00;
}

.text {
    fill: white;
    text-anchor: end;
    paint-order: stroke;
}

.text-4 {
    @extend .text;
    font-size: 42px;
}
.degrees {
    font-family: "Degrees";
}
.HUDIndiacted {
    font-style: 'italic';
}

.readouts {
    stroke: #00cc00;
    font-family: "OCRB";
}
.a{
    fill:none;
    stroke:#00cc00;
    stroke-width:1.8px;
}
.a2{
    fill:none;
    stroke:#00cc00;
    // 00cc00
}

.HUDAlt{
width: 140px; 
height: 430px; 
opacity: 1;
}