@font-face {
  font-family: "OCRB";

  src: url("/Fonts/OcrB2.ttf") format("truetype");
}

@font-face {
  font-family: "system-ui";

  src: url("/Fonts/roboto.ttf") format("truetype");
}

text {
  font-family: "system-ui";
  fill: white;
  font-size: 25px;
}

.EFBContainer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1040px;
  height: 810px;
  background-color: #1a1b26;
  font-family: system-ui;
}
.homeContainer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1040px;
  height: 810px;
  background-image: url("/images/C17_LOGO.png"), url("/images/C17_EFB_Backround.jpg");
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  background-size: 45%, cover;
}
.ButtonBarContainer {
  position: absolute;
  bottom: 5px;
  left: 5px;
  height: 50px;
  background-color: #16161e;
  width: 1026px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.699);
}
.aircraftContainer {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1040;
  height: 810px;
  background-position: right;
  background-size: 80%;
  background-repeat: no-repeat;
}
.settingsContainer {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1040;
  height: 810px;
  background-position: right;
  background-size: 80%;
  background-repeat: no-repeat;
}
.invert {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.pageDisplay {
  position: absolute;
  bottom: 60px;
  font-size: 25px;
  left: 0px;
  text-align: center;
  width: 100%;
  text-anchor: middle;
  -webkit-user-select: none;
  user-select: none;
  color: white;
}

.invertButton {
  position: absolute;
  bottom: -5px;
  right: 10px;
}

.pageButton, .previousPage, .nextPage {
  opacity: 0.3;
  transition: ease-in-out 0.3s;
}

.pageButton:hover, .previousPage:hover, .nextPage:hover {
  opacity: 1;
  transition: ease-in-out 0.3s;
}

.nextPage {
  bottom: 45%;
  left: 86%;
}

.previousPage {
  position: absolute;
  bottom: 45%;
  left: 10px;
}

.PDFContainer {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1040px;
  height: 810px;
  background-position: right;
  background-size: 80%;
  background-repeat: no-repeat;
}