.invert {
	-webkit-filter: invert(1);
	filter: invert(1);
}
.pageDisplay {
	position: absolute;
	bottom: 60px;
	font-size: 25px;
	left: 0px;
	text-align: center;
	width: 100%;
	text-anchor: middle;
	-webkit-user-select: none;
	user-select: none;
	color: white;
}
.invertButton {
	position: absolute;
	bottom: -5px;
	right: 10px;
}
.pageButton {
	opacity: 0.3;
	transition: ease-in-out 0.3s;
	&:hover {
		opacity: 1;
		transition: ease-in-out 0.3s;
	}
}
.nextPage {
	@extend .pageButton;
	bottom: 45%;
	left: 86%;
}
.previousPage {
	@extend .pageButton;
	position: absolute;
	bottom: 45%;
	left: 10px;
}
.PDFContainer {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1040px;
	height: 810px;
	// background-image: url('/images/Top_down.png');
	background-position: right;
	background-size: 80%;
	background-repeat: no-repeat;
}
