@font-face {
	font-family: 'OCRB';
	src: url('/Fonts/OcrB2.ttf') format('truetype');
}
@font-face {
	font-family: 'system-ui';
	src: url('/Fonts/roboto.ttf') format('truetype');
}
text {
	font-family: 'system-ui';
	fill: white;
	font-size: 25px;
}
.EFBContainer {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1040px;
	height: 810px;
	background-color: #22262a;
	font-family: system-ui;
}
