@font-face {
    font-family: "Digital";
    src: url("/Fonts/Quartz.ttf") format("truetype");
}
@font-face {
    font-family: "OCRB_Regular";
    src: url("/Fonts/mono.ttf") format("truetype");
}
@font-face {
    font-family: "OCRB";
    src: url("/Fonts/OcrB2.ttf") format("truetype");
}
@font-face {
    font-family: "WACAP";
    src: url("/Fonts/erbos_draco_open_nbp.ttf") format("truetype");
}

@font-face {
    font-family: EngCntrl;
    src: url("/Fonts/BoeingFont.ttf");
}  
.EngCNTRL {
    font-family: "EngCntrl";
}
.Radio {
    font-style: 'italic';
    font-family: "OCRB";
}
.FrontPNL {
    font-family: "Digital";
}
.WAPanel {
    font-family: "OCRB";
    letter-spacing: -1px;
}
.UpperPNL {
    font-family: "mono";
    fill: #00EE00;
}

.Horizon_lower {
    fill: #00FF00
}
.OHDispBackrnd {
    fill: rgb(0, 14, 2)
}
.OHPNL {
    font-family: "Digital";
    fill: rgb(0, 255, 42);
}
.YllwAccent {
    fill: rgb(245, 255, 137)
}
.YllwRect {
    stroke: rgb(245, 255, 137)
}
// CSS file (e.g., cautionZone.css)
.caution-zone {
    /* Define the position and size of the caution zone */
    position: relative;
    width: 300px;
    height: 200px;
    /* Add any other desired styles */
  }
  
  .message {
    /* Define the font and size of the caution messages */
    font-family:"WACAP";
    font-size: 16px;
    /* Add any other desired styles */
  }