.homeContainer {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1040px;
	height: 810px;
	background-image: url('/images/LOGO.png'), url('/images/EFB_Backround.jpg');
	background-position: center, center;
	background-repeat: no-repeat, no-repeat;
	background-size: 45%, cover;
}
