.MFD {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 800px;
  height: 800px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.pfd-provider-svg {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 800px;
  height: 800px;
}